body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: white;
}

a {
  text-decoration: none;
}

.nav {
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: white
}

.menu {
  list-style: none;
}

.menu a {
  color: #000000;
}

.menu a:not(.menu-active):hover,
.menu a:not(.menu-active):focus {
  color: #81b3d2;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu .menu-active {
  color: #766357;
}

.sigths-header {
  text-align: center;
}

.sigths-header h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sigths-list,
.features-list {
  list-style: none;
}

.sigths-item {
  text-align: center;
}

.sigths-item.blue {
  background-color: #81b3d2;
}

.sigths-item .info {
  color: #ffffff;
}

.sigths-item.gray {
  background-color: #eeeeee;
}

.sigths-item h3 {
  font-size: 21px;
}

.features {
  background-color: #ffffff;
}

.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
}

.search p {
  line-height: 24px;
}

.searh-button {
  font-size: 21px;
  line-height: 26px;
}

.button-brown {
  text-transform: inherit;
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form,
.search-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-form input  {
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.person-minus,
.person-plus {
  font-weight: bold;
  color: #a9a9a9;
  border: none;
}

.person-minus:hover,
.person-minus:focus,
.person-plus:hover,
.person-plus:focus {
  color: #ffffff;
}

.person-minus:active,
.person-plus:active {
  color: #81b3d2;
}

.find-button {
  font-size: 21px;
  line-height: 26px;
}

.button-blue {
  text-transform: inherit;
  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.filtres {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url('../img/hotels-filter-background.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filtres fieldset {
  border: none;
}

.filtres legend {
  font-size: 16px;
  font-weight: bold;
}

.filtres ul {
  list-style: none;
}

.filtres .cost-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filtres .cost-button:hover,
.filtres .cost-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.sorting .title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-button {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  background: none;
  border: none;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-button:hover,
.sorting-button:focus {
  color: #81b3d2;
}

.sorting-button:active {
  color: #000000;

  border: 1px dashed transparent;
}

.sorting-button.active {
  color: #81b3d2;
  border: none;
}

.hotels-list {
  list-style: none;
}

.hotels-info .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotels-info .hotel-name:hover,
.hotels-info .hotel-name:focus {
  color: #81b3d2;
}

.hotels-info .hotel-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-footer .heshtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-footer .social {
  text-align: center;
  list-style: none;
}

.main-footer .copyright {
  line-height: 26px;
  color: #000000;
}

.copyright a {
  color: #000000;
}

.copyright a:hover,
.copyright a:focus {
  color: #81b3d2;
}

.copyright a:active {
  color: #bdbbbc;
}
