body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: white;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  position: relative;

  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: white;

  outline: 1px solid green;
}

.logo {
  position: absolute;
  left: 531px;

  outline: 1px solid green;
}

.menu {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;

  outline: 1px solid green;
}

.menu li {
  width: 239px;
  padding-top: 15px;
  min-height: 56px;

  outline: 1px solid green;
}

.menu li:nth-child(3) {
  margin-left: auto;
}

.menu-left a {
  margin-left: 73px;
}

.menu-right {
  text-align: right;
}

.menu-right a {
  margin-right: 73px;
}

.menu a {
  color: #000000;

  outline: 1px solid green;
}

.menu a:not(.menu-active):hover,
.menu a:not(.menu-active):focus {
  color: #81b3d2;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu .menu-active {
  color: #766357;
}

.sigths {
  margin-bottom: 55px;
}

.sigths-header {
  text-align: center;
  margin-top: 60px;
}

.sigths-header h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 36px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sigths-header p {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.sigths-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sigths-list {
  display: flex;
  flex-wrap: wrap;
}

.sigths-item {
  text-align: center;
}

.sigths-item-blue {
  display: flex;

  background-color: #81b3d2;
}

.sigths-item-blue.reverse {
  flex-direction: row-reverse;
}

.sigths-item .info {
  width: 400px;

  color: #ffffff;
}

.features-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 400px;

  outline: 1px solid green;
}

.sigths-item.gray {
  width: 400px;
  min-height: 256px;

  background-color: #eeeeee;

  outline: 1px solid green;
}

.sigths-item h3 {
  font-size: 21px;
}

.features {
  background-color: #ffffff;
}

.features-item {
  min-height: 332px;
  text-align: center;
}

.search {
  text-align: center;
}

.search h2 {
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;

  font-size: 30px;
  line-height: 36px;
}

.search p {
  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;

  line-height: 24px;
}

.searh-button {
  font-size: 21px;
  line-height: 26px;
}

.button-brown {
  text-transform: inherit;
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form,
.search-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-form p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.search-form input  {
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.person-minus,
.person-plus {
  font-weight: bold;
  color: #a9a9a9;

  border: none;
}

.person-minus:hover,
.person-minus:focus,
.person-plus:hover,
.person-plus:focus {
  color: #ffffff;
}

.person-minus:active,
.person-plus:active {
  color: #81b3d2;
}

.find-button {
  font-size: 21px;
  line-height: 26px;
}

.button-blue {
  text-transform: inherit;
  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.filtres {
  padding-top: 30px;
  padding-bottom: 32px;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url('../img/hotels-filter-background.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filtres-form {
  display: flex;

  padding-left: 73px;
  padding-right: 73px;
}

.filtres fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filtres .infrastructure {
  margin-right: 112px;
}

.filtres legend {
  font-size: 16px;
  font-weight: bold;
}

.filtres ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cost-container {
  margin-left: auto;
}

.filtres .cost-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filtres .cost-button:hover,
.filtres .cost-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.wrap-hotels {
  padding-left: 73px;
  padding-right: 73px;
}

.sorting {
  display: flex;
  align-items: baseline;

  min-height: 86px;
  padding-top: 30px;
}

.sorting .title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting p {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-button {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  background: none;
  border: none;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-button:hover,
.sorting-button:focus {
  color: #81b3d2;
}

.sorting-button:active {
  color: #000000;

  border: 1px dashed transparent;
}

.sorting-button.active {
  color: #81b3d2;

  border: none;
}

.sorting-arrow {
  margin-left: auto;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  display: flex;
  align-items: stretch;

  min-height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotels-item img {
  margin-right: 30px;
}

.hotels-info h3 {
  margin: 0;
  padding: 0;
}

.hotels-info .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotels-info .hotel-name:hover,
.hotels-info .hotel-name:focus {
  color: #81b3d2;
}

.hotels-info .hotel-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.hotels-item .ratings {
  margin-left: auto;
}

.hotels-item .ratings-visitor {
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;

  min-height: 120px;

  background-color: #ffffff;
  opacity: 0.9;
}

.footer-item {
  width: 400px;
  margin: 0;
  padding: 1px;
  text-align: center;

  outline: 1px solid green;
}

.footer-item .center {
  /* vertical-align: middle; */
  /* display: block; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */

  outline: 1px solid green;
}

.main-footer .heshtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-footer .social {
  text-align: center;
  list-style: none;
}

.main-footer .copyright {
  line-height: 26px;
  color: #000000;
}

.copyright a {
  color: #000000;
}

.copyright a:hover,
.copyright a:focus {
  color: #81b3d2;
}

.copyright a:active {
  color: #bdbbbc;
}
